# client
client/node_modules/
client/.env

# backend
# backend/db.sql
backend/node_modules/
backend/.env

# ignore
.gitignore


# {/* <UserVideo nickname={user.nickname!} audio={audio} video={video} /> */}

#           {/* {Object.entries(participants as UserTrackProps).map(
#             ([nickname, value]) => (
#               <UserVideo
#                 nickname={nickname}
#                 audio={value.audio}
#                 video={value.video}
#               />
#             )
#           )} */}