@import url("menu.css");

:root {
  --menu-text-chat: 43px;
  --menu-chat-input-height: 42px;
}

.pwf-chat_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.menu_type {
  width: 100%;
  height: var(--menu-text-chat);
  display: flex;
  align-items: center;
  color: var(--pwf-white);
  justify-content: space-between;
  padding: 0px 8px;
  font-weight: bold;
  border-bottom: 1px solid var(--pwf-light-gray);
}

.menu_type button {
  padding: 6px;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: bold;
  color: var(--pwf-light-gray);
  font-size: 17px;
}

.chat_lists {
  width: 100%;
  height: calc(100% - var(--menu-text-chat) - var(--menu-chat-input-height));
  display: flex;
  flex-direction: column;
  padding: 5px;
  overflow-y: auto;
  /* align-items: center; */
}

.chat_container {
  display: flex;
  margin: 3px 0px;
  /* width: 100%; */
  /* border: 1px solid green; */
}

.chat_user_profile_circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
  border: 1px solid var(--pwf-light-gray);
}

.chat_user_profile_circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat_content_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chat_user_nickname {
  font-size: 13px;
  margin-bottom: 5px;
}

.chat_content {
  padding: 5px 10px;
  text-align: start;
  color: black;
  max-width: 180px;
  border-radius: 10px;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

/* 채팅 입력칸 */
.pwf-chat_form {
  width: 100%;
  border-top: 1px solid var(--pwf-light-gray);
  height: var(--menu-chat-input-height);
  display: flex;
}

.pwf-chat_form input,
.pwf-chat_form button {
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--pwf-white);
}

.pwf-chat_form input {
  flex: 1;
  padding: 0px 8px;
}

.pwf-chat_form button {
  width: 40px;
}
