@import url("menu.css");

:root {
  --menu-text-chat: 43px;
  --menu-chat-input-height: 42px;
}

.pwf-chat_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: var(--pwf-white);
}

.menu_type {
  width: 100%;
  height: var(--menu-text-chat);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8px;
  font-weight: bold;
  border-bottom: 1px solid var(--pwf-light-gray);
}

.menu_type button {
  padding: 6px;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: bold;
  color: var(--pwf-white);
  font-size: 17px;
}

.chat_lists {
  width: 100%;
  height: calc(100% - var(--menu-text-chat) - var(--menu-chat-input-height));
}

.pwf-chat_form {
  width: 100%;
  border-top: 1px solid var(--pwf-light-gray);
  height: var(--menu-chat-input-height);
  display: flex;
}

.pwf-chat_form input,
.pwf-chat_form button {
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--pwf-white);
}

.pwf-chat_form input {
  flex: 1;
  padding: 0px 8px;
}

.pwf-chat_form button {
  width: 40px;
}
