@import url("../index.css");
:root {
  /* room main */

  --video-screen-width: 330px;
  --video-screen-height: 230px;

  --video-share-screen-height: 80%;
  --video-share-screen-max-width: 762px;

  /* menu */
  --stream-menu-size: 55px;

  /* menu chat */
  --chat-form-height: 45px;
  --chat-btn-width: 40px;
}

.streamRoom_page {
  display: flex;
  width: 100%;
}

/* 방 스트림 */
.pwf-stream_container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.participant_stream_container,
.share_stream_container {
  display: flex;
  width: 100%;
  height: 100%;
}

/* 참가자 스트림 부분 */
.participant_stream_container {
  align-items: center;
  padding: 20px;
}

.participant_track_box {
  width: 300px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.participant_track_box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.participant_infomation {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 4px 7px;
  z-index: 1234;
  background-color: var(--pwf-background-transparent);
  display: flex;
  align-items: baseline;
}

.participant_infomation span {
  margin: 0px 5px;
  color: var(--pwf-white);
  font-weight: bold;
}

/* 화면공유 부분 */
.share_stream_container {
  min-height: var(--video-share-screen-height);
  /* border: 1px solid blue; */
  justify-content: center;
  background-color: var(--pwf-background-transparent);
}

.share_screen_box {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  max-width: var(--video-share-screen-max-width);
}

.share_test {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.share_user {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 5px 12px;
  z-index: 1000;
  color: var(--pwf-white);
  font-weight: bold;
  overflow: hidden;
  background-color: var(--pwf-background-transparent-light);
}

/* 메뉴  ----------------------------------------------*/
.pwf-stream_menu {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 123512;
  transform: translate(-0%, -50%);
  background-color: var(--pwf-signiture-color);
}

.stream_menu_btn {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  padding: 12px 5px;
  border-radius: 10px 0 0 10px;
  border: 1px solid var(--pwf-light-gray);
  border-right: none;
  color: var(--pwf-gray);
  background-color: inherit;
}

/* content */
.stream_menu_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--pwf-light-gray);
  border-right: none;
  overflow: hidden;
  border-radius: 10px 0 0 10px;
  height: 100%;
  transition: all 0.3s ease;
}

.stream_menu_content button {
  display: flex;
  border: none;
  outline: none;
  align-items: center;
  justify-content: center;
  padding: 16px;
  height: var(--stream-menu-size);
  width: 100%;
  font-size: 18px;
  background-color: inherit;
  font-weight: bold;
}

.stream_menu_content button:not(:last-child) {
  color: var(--pwf-gray);
}

.stream_menu_content button:hover {
  background-color: var(--pwf-background-transparent-light);
}

.room_exit {
  color: red;
}
