/* 참가자 비디오 리스트 */
.pwf-stream_screen_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100% - var(--stream-menu-btn-size));
  border: 1px solid green;
}

.participant_stream_container,
.share_stream_container {
  width: 100%;
}

.participant_stream_container {
  padding: 10px;
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
}

.participant_stream_container li {
  width: 260px;
  height: 150px;
  border: 1px solid red;
}

/* .participant_stream_container li {
  margin: 5px;
  width: 600px;
  height: 200px;
  max-width: 300px;
  max-height: 190px;
} */

/* 참가자 비디오 */
.participant_track_box {
  width: 300px;
  height: 200px;
  min-width: 170px;
  min-height: 130px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  margin: 5px;
}

.video_user_nickname {
  z-index: 123;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--pwf-white);
}

.participant_track_box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.participant_track_box p {
  font-weight: 600;
  color: white;
}

.participant_infomation {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 4px 7px;
  z-index: 1234;
  background-color: var(--pwf-background-transparent);
  display: flex;
  align-items: baseline;
}

.participant_infomation span {
  margin: 0px 5px;
  color: var(--pwf-white);
  font-weight: bold;
}

/* 풋터  ----------------------------------------------*/

.my_media_box {
  position: absolute;
  width: 200px;
  overflow: hidden;
  z-index: 125123;
  background: var(--pwf-signiture-color);
  /* display: flex; */
  flex-direction: column;
  border-radius: 4px;
  bottom: calc(var(--stream-menu-btn-size) + 8px);
}

.my_media_box label {
  width: 100%;
  text-align: start;
  padding: 3px 5px;
  background-color: var(--pwf-light-gray);
}

.my_media_box label i {
  margin-right: 6px;
}

.my_media_box li {
  width: 100%;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px;
}

.my_media_box li:hover {
  background-color: var(--pwf-background-transparent);
}

.my_media_box li i {
  background-color: inherit;
  margin-right: 8px;
}

.room_exit {
  font-size: 21px;
  color: red;
  height: 100%;
}
