@import url("index.css");

.home_page {
  display: flex;
  flex-direction: column;
}

.home_anchor {
  font-weight: 600;
  color: var(--pwf-white);
  font-size: 21px;
}

.pwf_content {
  width: 100%;
  min-height: calc(100% - var(--page-header-height));
  display: flex;
}

/* 스트리밍 방 */
.stream_room_lists {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /* border: 1px solid yellow; */
  position: relative;
}

.stream_room_lists button {
  position: absolute;
  bottom: 5%;
  right: 2%;
  background-color: var(--pwf-blue);
  border: none;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  color: var(--pwf-white);
  border-radius: 7px;
}

@media screen and (max-width: 725px) {
  .pwf_content {
    flex-direction: column-reverse;
  }
}
