@import url("index.css");

:root {
  --input-placeholder-left: 8px;
  --placeholder-font-size: 10.3px;
  --login-input-width: 250px;
}

.login_page {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}

/* 로그인 텍스트칸 */
.login_pwf_introduce {
  width: 480px;
  height: 80%;
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: var(--pwf-white);
  font-size: 64px;
  line-height: 80%;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.login_form_container {
  /* width: 300px; */
  /* height: 80%; */
  padding: 24px 26px;
  border: 1px solid var(--pwf-light-gray);
  display: flex;
  border-radius: 8px;
  flex-direction: column;
}

/* 로그인 정보입력칸 */
.login_text {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  color: var(--pwf-white);
  margin-bottom: 38px;
}

.login_pwf_form {
  display: flex;
  flex-direction: column;
}

/* 로그인 인풋 */
.login_info_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
  align-items: start;
  width: var(--login-input-width);
}

.login_input_box {
  border: 1px solid var(--pwf-light-gray);
  border-radius: 7px;
  position: relative;
  width: 100%;
  display: flex;
  cursor: pointer;
  color: var(--pwf-white);
  align-items: center;
}

.login_input_box p {
  transition: all 0.3s ease;
  font-size: var(--placeholder-font-size);
  position: absolute;
  left: var(--input-placeholder-left);
  margin-bottom: 5px;
}

.login_input_box input {
  flex: 1;
  padding: 20px 7px 7px var(--input-placeholder-left);
  font-weight: 600;
  border: none;
  color: var(--pwf-white);
  background-color: inherit;
}

.login_input_box input:focus {
  border-color: red;
}

.login_input_box span {
  z-index: 12352;
  margin-right: 8px;
  font-size: 14px;
}

.login_btn {
  padding: 8px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 20px;
  color: var(--pwf-white);
  border: none;
  outline: none;
  background-color: var(--pwf-blue);
  /* border: ; */
}

.login_error {
  font-size: 13px;
  margin-top: 3px;
  font-weight: 600;
  transition: all 0.3s ease;
  color: var(--pwf-red);
}

.login_support_box {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.login_support_box a {
  color: var(--pwf-gray);
  margin: 0px 4px;
  cursor: pointer;
}

.login_support_box a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 874px) {
  .login_pwf_introduce {
    display: none;
  }
}
