@import url("index.css");

:root {
  --page-header-height: 55px;
  --user-thumbnail-box-size: 40px;
}

.pwf_header {
  width: 100%;
  height: var(--page-header-height);
  border-bottom: 0.1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
}

/* 유저 컨트롤*/
.header_control {
  display: flex;
  width: 120px;
  justify-content: space-around;
}

/* 친구추가 */
.pwf_friend_box {
  width: var(--user-thumbnail-box-size);
  height: var(--user-thumbnail-box-size);
  position: relative;
}

.pwf_friend_box button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
  background-color: inherit;
  font-size: 20px;
  color: var(--pwf-gray);
}

.pwf_friend_box button:hover {
  color: var(--pwf-white);
}

.friend_add_number {
  position: absolute;
  bottom: 10%;
  right: 10%;
  z-index: 12351;
  overflow: hidden;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--pwf-blue);
  display: flex;
  color: var(--pwf-white);
  font-size: 11px;
  align-items: center;
  justify-content: center;
}

/* 유저 프로필 */
.pwf_user_box {
  width: var(--user-thumbnail-box-size);
  height: var(--user-thumbnail-box-size);
  position: relative;
}

.pwf_user_btn {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid white;
  display: block;
  overflow: hidden;
}

.pwf_user_btn img {
  width: 100%;
  height: 100%;
}

.check_box {
  overflow: hidden;
  z-index: 1232;
  background-color: white;
  position: absolute;
  width: 120px;
  right: 0;
  flex-direction: column;
  top: var(--user-thumbnail-box-size);
}
