@import url("index.css");

.password_reset_page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.password_reset_container {
  padding: 30px 20px 20px 20px;
  border: 1px solid var(--pwf-light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password_reset_icon {
  font-size: 70px;
  color: var(--pwf-white);
  width: 120px;
  height: 120px;
  border: 3px solid var(--pwf-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password_reset_text {
  font-size: 17px;
  color: var(--pwf-white);
  margin: 15px 0px;
}

/* 폼 부분 */
.password_reset_email_form,
.password_reset_email_input_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 20px;
}

.password_reset_email_input_box input {
  width: 100%;
  padding: 10px 12px;
  background-color: inherit;
  outline: none;
  color: var(--pwf-white);
}

.password_reset_error {
  margin-top: 4px;
  font-size: 13px;
  color: var(--pwf-red);
}

.password_reset_btn {
  width: 100%;
  padding: 8px;
  background-color: var(--pwf-blue);
  color: var(--pwf-white);
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 17px;
  border-radius: 10px;
}

.password_reset_btn:hover,
.return_login:hover {
  text-decoration: underline;
}

.return_login {
  color: var(--pwf-white);
  font-weight: bold;
}
