@import url("index.css");

:root {
  /* signup user*/
  --signup-box-width: 300px;
  --signup-header-height: 80px;
  --signup-footer-height: 55px;
  /* signup auth */
  --signup-auth-box-width: 320px;
  --signup-auth-header-height: 80px;
  /* --signup-auth-content-height: 90px; */
  --signup-auth-footer-height: 40px;
}

.signup_page {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* auth section */
.signup_auth_box {
  width: var(--signup-auth-box-width);
  border: 1px solid var(--pwf-gray);
  border-radius: 7px;
}

.signup_auth_header {
  height: var(--signup-auth-header-height);
  padding: 15px 12px;
  color: var(--pwf-white);
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.signup_auth_resend_btn {
  margin-left: 6px;
  background-color: inherit;
  color: var(--pwf-blue);
  font-weight: 600;
  border: none;
}

.signup_auth_resend_btn:hover {
  text-decoration: underline;
}

.signup_auth_content {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--pwf-gray);
}

.auth_error_box {
  width: 100%;
  padding: 4px 6px;
  justify-content: center;
  background-color: var(--pwf-error-color);
  color: var(--pwf-red);
  font-size: 12px;
  font-weight: 600;
}

.signup_auth_content form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-bet */
  padding: 20px;
}

.signup_auth_content form input {
  background-color: inherit;
  padding: 9px 8px;
  border: 1px solid var(--pwf-gray);
  color: var(--pwf-white);
  margin-bottom: 20px;
}

.signup_auth_content form button {
  padding: 6px;
  background-color: var(--pwf-blue);
  color: var(--pwf-white);
  font-weight: 600;
  font-size: 15px;
  border: none;
}

.signup_auth_content form button:hover {
  text-decoration: underline;
}

.signup_auth_footer {
  width: 100%;
  height: var(--signup-auth-footer-height);
}

.signup_auth_footer button {
  border: none;
  color: var(--pwf-blue);
  font-weight: 600;
  background-color: inherit;
  line-height: var(--signup-auth-footer-height);
}

.signup_auth_footer button:hover {
  text-decoration: underline;
}

/* info section */
.signup_container {
  width: var(--signup-box-width);
  border: 1px solid var(--pwf-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
}

.signup_header,
.signup_content,
.signup_footer,
.signup_content form {
  width: 100%;
}

/* 로그인 헤더 */
.signup_header {
  height: var(--signup-header-height);
  border-bottom: 1px solid var(--pwf-gray);
  width: 100%;
}

.signup_header span {
  color: var(--pwf-white);
  text-align: center;
  line-height: var(--signup-header-height);
  font-size: 19px;
}

.signup_content form {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: 25px 20px;
}

.signup_input_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: start;
}

.signup_content input {
  width: 100%;
  padding: 8px 8px;
  border: 1px solid var(--pwf-gray);
  background-color: inherit;
  color: var(--pwf-white);
  margin-bottom: 5px;
}

.signup_error {
  color: var(--pwf-red);
  font-size: 12px;
}

.signup_content button {
  width: 100%;
  /* background-color: var(--pwf-blue); */
  background-color: var(--pwf-blue);
  border-radius: 6px;
  color: var(--pwf-white);
  margin-top: 20px;
  padding: 6px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  outline: none;
}

.signup_content button:hover {
  text-decoration: underline;
}

/* 로그인 풋터 */
.signup_footer {
  height: var(--signup-footer-height);
  border-top: 1px solid var(--pwf-gray);
}

.signup_footer span {
  line-height: var(--signup-footer-height);
  color: var(--pwf-white);
  margin-right: 8px;
}

.login_anchor {
  font-size: 14px;
  color: var(--pwf-gray);
}

.login_anchor:hover {
  text-decoration: underline;
}
