@import url("./roomMain.css");
/* main */
.pwf-streamRoom_container {
  width: 100%;
  height: 100%;
  position: relative;
}

.pwf-screen_container {
  width: 100%;
  display: flex;
  height: calc(100% - var(--streamroom-footer-height));
  flex-direction: column;
}

/* 유저들 화면창 */
.user_screen_lists,
.share {
  display: flex;
  width: 100%;
  align-items: center;
}

.user_screen_lists {
  height: 100%;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: center;
}

.share {
  border: 1px solid;
  height: calc(40px + var(--video-share-screen-height));
  width: 100%;
  flex-direction: row;
  overflow-x: auto;
  justify-content: start;
}

.user_screen_lists::-webkit-scrollbar {
  width: var(--scroll-size);
}

.user_screen_lists::-webkit-scrollbar-track {
  background-color: inherit;
  border-radius: 4px;
}

.user_screen_lists::-webkit-scrollbar-thumb {
  background-color: var(--pwf-gray);
  border-radius: 10px;
}

.share::-webkit-scrollbar {
  height: var(--scroll-size);
}

.share::-webkit-scrollbar-track {
  background-color: inherit;
  border-radius: 4px;
}

.share::-webkit-scrollbar-thumb {
  background-color: var(--pwf-gray);
  border-radius: 10px;
}

.share .user_video_box {
  min-width: var(--video-share-screen-width);
  max-width: var(--video-share-screen-width);
  height: var(--video-share-screen-height);
}

/* 비디오 화면 부분 */
.user_video_box {
  width: var(--video-screen-width);
  height: var(--video-screen-height);
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid var(--pwf-white);
  position: relative;
  overflow: hidden;
}

.user_video_box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user_info_box {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--pwf-white);
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.user_info_box div {
  margin-right: 10px;
}

.user_info_box div span {
  padding: 0px 6px;
}

/* 화면공유 화면 */
.share_screen_container {
  width: 100%;
  height: calc(100% - var(--video-share-screen-height));
}

.share_video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* footer section */
.streamRoom_footer {
  width: 100%;
  height: var(--streamroom-footer-height);
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--pwf-white);
  justify-content: space-between;
}

.streamRoom_footer div {
  height: 100%;
  display: flex;
}

/* 유저 옵션 부분 */
.user_video_options button,
.room_options button {
  align-items: center;
  border: none;
  width: 80px;
  height: 100%;
  font-size: 18px;
  color: var(--pwf-white);
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user_video_options button span,
.room_options button span {
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
}

.user_video_options button:hover {
  background-color: var(--pwf-background-transparent);
}

/* 비디오 옵션 부분 */
/* .room_options button {
  border: none;
  width: 80px;
  height: 100%;
  font-size: 18px;
  color: var(--pwf-white);
  background-color: inherit;
  dis
} */

.room_options button:hover {
  background-color: var(--pwf-background-transparent);
}

/* 비디오 메뉴부분 */
.room_exit {
  margin-right: 10px;
  background-color: var(--pwf-red);
  padding: 8px 10px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  color: var(--pwf-white);
}

.room_exit:hover {
  text-decoration: underline;
}

/* 화면공유시  */
