@import url("modal.css");

:root {
  --delete-width: 400px;
  --delete-height: 100px;
}

.delete_modal {
  width: var(--delete-width);
  display: flex;
  flex-direction: column;
}

.delete_box {
  width: 100%;
  height: var(--delete-height);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: var(--pwf-white);
  font-weight: 600;
}

.delete_box button {
  background-color: inherit;
  border: 1px solid var(--pwf-red);
  color: var(--pwf-red);
  font-weight: 600;
  margin-left: 12px;
  padding: 8px 12px;
  border-radius: 12px;
}

.delete_box button:hover {
  text-decoration: underline;
}
