@import url("modal.css");

:root {
  --profile-modal-width: 400px;
  --profile-modal-height: 480px;
  --profile-modal-footer-height: 60px;

  /* img */
  --profile-imgbox-height: 120px;
  --profile-imgbox-circle-size: 90px;
}

.profile_modal {
  width: var(--profile-modal-width);
  height: var(--profile-modal-height);
  flex-direction: column;
  align-items: center;
  background-color: var(--pwf-signiture-color);
  border-radius: 7px;
}

.profile_content {
  width: 100%;
  height: calc(100% - var(--profile-modal-footer-height));
}

.profile_content form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.profile_content form div {
  margin-bottom: 12px;
  width: 100%;
  display: flex;
}

/* img */
.profile_img_box {
  width: 100%;
  height: var(--profile-imgbox-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_img_circle {
  width: var(--profile-imgbox-circle-size);
  height: var(--profile-imgbox-circle-size);
  border-radius: 50%;
  border: 1px solid white;
  overflow: hidden;
}

.profile_img_circle img {
  width: 100%;
  height: 100%;
}

.profile_email_box,
.profile_nickname_box {
  flex-direction: column;
  align-items: flex-start;
}

.profile_content form div label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
  color: var(--pwf-white);
}

.profile_content form div input {
  padding: 8px 6px;
  width: 100%;
  background-color: inherit;
  color: var(--pwf-white);
  border: 1px solid var(--pwf-white);
}

.profile_modal_footer {
  width: 100%;
  height: var(--profile-modal-footer-height);
  line-height: var(--profile-modal-footer-height);
}

.profile_modal_footer button {
  padding: 6px;
  background-color: var(--pwf-blue);
  color: var(--pwf-white);
  font-weight: 600;
  outline: none;
  border: none;
}

.profile_modal_footer button:hover {
  text-decoration: underline;
}
