:root {
  --stream-modal-width: 540px;
  --stream-modal-height: 460px;
  --stream-modal-footer-height: 60px;
}

.stream_modal {
  width: var(--stream-modal-width);
  height: var(--stream-modal-height);
  flex-direction: column;
  background-color: var(--pwf-signiture-color);
  border-radius: 10px;
}

.stream_create_box {
  width: 100%;
  height: 100%;
}

.stream_create_box form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px 35px;
  justify-content: space-between;
}

.stream_create_box form div {
  width: 100%;
  display: flex;
  /* border: 1px solid blue; */
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.stream_create_box form div label {
  font-size: 15px;
  font-weight: 600;
  color: var(--pwf-white);
  margin-bottom: 10px;
}

/* 방 이름 */
.pwf_roomname_input {
  flex: 1;
  width: 100%;
  padding: 12px 7px;
  color: var(--pwf-white);
  background-color: inherit;
  border: 1px solid var(--pwf-gray);
}

/* 방 참가자 */
.participants_list {
  width: 100%;
  display: flex;
  max-height: 60px;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--pwf-white);
  overflow-y: auto;
}

.participants_list li {
  color: var(--pwf-white);
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  text-align: start;
  padding: 3px 6px;
}

.participants_list::-webkit-scrollbar {
  width: var(--scroll-size);
}

.participants_list::-webkit-scrollbar-track {
  background-color: inherit;
  border-radius: 4px;
}

.participants_list::-webkit-scrollbar-thumb {
  background-color: var(--pwf-gray);
  border-radius: 10px;
}

/* 초대할 친구목록 */
.friends_list {
  width: 100%;
  height: 140px;
  overflow-y: auto;
  color: var(--pwf-white);
}

.friends_list::-webkit-scrollbar {
  width: var(--scroll-size);
}

.friends_list::-webkit-scrollbar-track {
  background-color: inherit;
  border-radius: 4px;
}

.friends_list::-webkit-scrollbar-thumb {
  background-color: var(--pwf-gray);
  border-radius: 10px;
}

.invite_friend_li {
  width: 100%;
  display: flex;
  height: 40px;
  padding: 0px 8px;
  align-items: center;
}

.invite_friend_img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0px 8px;
  overflow: hidden;
  border: 1px solid var(--pwf-white);
}

.invite_friend_img img {
  width: 100%;
  height: 100%;
}

.invite_friend_nickname {
  color: var(--pwf-white);
}

/* footer */
.stream_modal_footer {
  width: 100%;
  height: var(--stream-modal-footer-height);
  line-height: var(--stream-modal-footer-height);
}

.stream_modal_footer button {
  padding: 6px;
  background-color: var(--pwf-blue);
  color: var(--pwf-white);
  font-weight: 600;
  outline: none;
  border: none;
}

.stream_modal_footer button:hover {
  text-decoration: underline;
}
